# temp files
tmp/
temp/
*.tmp

# db files
*.db
*.sqlite
*.sqlite3

# app-specific runtime dirs
data/
var/
.cache/
postgres_data/
postgres_dataold/
postgres_dataold2/
.vscode
/frontend/node_modules/
/backend/node_modules/
/backend/dist/
/dist/
/frontend/dist/
/data/
# Python bytecode
backend/__pycache__/
probe/__pycache__/
__pycache__/
*.pyc
